<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Admins page</title>
</head>
<body>

<header class="navbar navbar-dark bg-dark text-white">
    <div id="headerForAdmin">
    </div>
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link" href="/logout" title="Logout">Logout</a>
            </li>
        </ul>
    </div>
</header>

<div class="row my-3">
    <div class="col-2 bg-white">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
               aria-controls="v-pills-home" aria-selected="true">Admin</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
               aria-controls="v-pills-profile" aria-selected="false">User</a>
        </div>
    </div>

    <div class="col-10 bg-light">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <h1>Admin panel</h1>
                <ul class="nav nav-tabs" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="usersTable" data-toggle="tab" href="#users" role="tab"
                           aria-controls="home" aria-selected="true">Users table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="newUser" data-toggle="tab" href="#new" role="tab"
                           aria-controls="profile" aria-selected="false">New User</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="usersTable">
                        <div class="tab-content">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">All users</h5>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped" id="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">First Name</th>
                                            <th scope="col">Last Name</th>
                                            <th scope="col">Age</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Role</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="adminTable">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Update user</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="margin-right: auto;
                                                            margin-left: auto;">
                                    <form class="text-center" id="editForm">
                                        <div class="form-group">
                                            <label for="editId">ID</label>
                                            <input type="number" class="form-control"
                                                   id="editId" name="editId"
                                                   aria-describedby="editId"
                                                   placeholder="ID" readonly>

                                            <label for="editFirstName">First name</label>
                                            <input type="text" class="form-control"
                                                   id="editFirstName" name="editFirstName"
                                                   aria-describedby="editFirstName"
                                                   placeholder="First name">

                                            <label for="editLastName">Last name</label>
                                            <input type="text" class="form-control"
                                                   id="editLastName" name="editLastName"
                                                   aria-describedby="editLastName"
                                                   placeholder="Last name">

                                            <label for="editAge">Age</label>
                                            <input type="number" class="form-control"
                                                   id="editAge" name="editAge" aria-describedby="editAge"
                                                   placeholder="Age">

                                            <label for="editEmail">Email</label>
                                            <input type="email" class="form-control" id="editEmail" name="editEmail"
                                                   aria-describedby="editEmail"
                                                   placeholder="Email">

                                            <label for="editPassword">Password</label>
                                            <input type="password" class="form-control"
                                                   id="editPassword" name="editPassword"
                                                   aria-describedby="editPassword">

                                            <label for="editRole">Role</label>
                                            <select class="form-control" id="editRole" name="editRole"
                                                    size="2" multiple>
                                            </select>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal" id="editClose">Close
                                            </button>
                                            <button type="submit" class="btn btn-info" id="editSubmit">
                                                Edit
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="ModalDelete"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete user
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body"
                                     style="margin-right: auto; margin-left: auto;">
                                    <form class="text-center" id="deleteForm">
                                        <div class="form-group">
                                            <label for="deleteId">ID</label>
                                            <input type="text" class="form-control"
                                                   id="deleteId" name="deleteId" aria-describedby="deleteId"
                                                   placeholder="ID" readonly>

                                            <label for="deleteFirstName">First name</label>
                                            <input type="text" class="form-control"
                                                   id="deleteFirstName" name="deleteFirstName"
                                                   aria-describedby="deleteFirstName"
                                                   placeholder="First name" readonly>

                                            <label for="deleteLastName">Last name</label>
                                            <input type="text" class="form-control"
                                                   id="deleteLastName" name="deleteLastName"
                                                   aria-describedby="deleteLastName"
                                                   placeholder="Last name" readonly>

                                            <label for="deleteAge">Age</label>
                                            <input type="number" class="form-control"
                                                   id="deleteAge" name="deleteAge"
                                                   aria-describedby="deleteAge"
                                                   placeholder="Age" readonly>

                                            <label for="deleteEmail">Email</label>
                                            <input type="email" class="form-control"
                                                   id="deleteEmail" name="deleteEmail"
                                                   aria-describedby="deleteEmail"
                                                   placeholder="Email" readonly>

                                            <label for="deleteRole">Role</label>
                                            <select class="form-control" id="deleteRole"
                                                    name="deleteRole" size="2" multiple>
                                            </select>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal" id="deleteClose">Close
                                            </button>
                                            <button type="submit" class="btn btn-danger" id="deleteSubmit">
                                                Delete
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="new">
                        <div class="tab-content">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Add new user</h5>
                                </div>
                                <div class="card-body text-center">
                                    <div class="container-fluid col-md-4 text-center">
                                        <form id="addForm">
                                            <div class="form-group">
                                                <label class="control-label font-weight-bold" for="addFirstName">
                                                    First name</label>
                                                <input type="text" class="form-control" name="firstName"
                                                       id="addFirstName"
                                                       placeholder="First name"/>

                                                <label class="control-label font-weight-bold" for="addLastName">
                                                    Last name</label>
                                                <input type="text" class="form-control" name="lastName" id="addLastName"
                                                       placeholder="Last name"/>

                                                <label class="control-label font-weight-bold" for="addAge">Age</label>
                                                <input type="number" class="form-control" name="age" id="addAge"
                                                       placeholder="Age"/>

                                                <label class="control-label font-weight-bold" for="addEmail">Email
                                                </label>
                                                <input type="email" class="form-control" name="email" id="addEmail"
                                                       placeholder="Email"/>

                                                <label class="control-label font-weight-bold" for="addPassword">Password
                                                </label>
                                                <input type="password" class="form-control" name="password"
                                                       id="addPassword" placeholder="Password">

                                                <label for="addRole" class="font-weight-bold">Role</label>
                                                <select class="form-control" id="addRole" name="roles" size="2"
                                                        multiple>
                                                    <option value="1">ADMIN</option>
                                                    <option value="2">USER</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-success btn-lg" id="btnSubmit">
                                                Add new user
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <h1>User information-page</h1>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">About user</h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody id="userTable">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="/static/admin.js"></script>
</body>
</html>